/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
::-webkit-scrollbar {
    display: none;
}
body {
    padding-top: 75px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.06em;
    background-color: #ffffff;
    min-height: 100vh;
    display: block;
    padding-bottom: 100px;
    position: relative;
}
input[type="file"] {
    display: none;
}
#output_image {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    border: 4px solid #3d59a8;
    display: block;
    margin: auto;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 70px;
}
.divider {
    background-color: #3d59a8;
    margin-bottom: 1em;
    width: 100%;
    height: 1em;
}
a {
    color: #616771 !important;
}
a:hover {
    text-decoration: none;
    color: rgba(97,103,113, 0.6) !important;
}
form {
    max-width: 600px;
}
h2 {
    font-family: 'Gotu', sans-serif;
    color: #616771;
}
h6 {
    font-family: 'Gotu', sans-serif;
    font-size: 20px;
}
.follow-btn {
    width: 120px;
    background-color: #3d59a8;
    color: white !important;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 18px;
    font-weight: 700;
    letter-spacing: 0.15em;
}
.update-profile-btn {
    width: 170px;
    background-color: #3d59a8;
    color: white !important;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 18px;
    font-weight: 700;
    letter-spacing: 0.15em;
}
.not-downloadable {
    width: 170px;
    background-color: lightgray;
    color: black !important;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 18px;
    font-weight: 700;
    letter-spacing: 0.15em;
}
.not-downloadable:hover {
    background-color: lightgray;
    color: black !important;
    cursor: default;
}
.delete-btn {
    width: 70px;
    background-color: #E70808;
    color: white !important;
    margin-top: 1em;
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 9px;
    border-radius: 18px;
    font-weight: 800;
    letter-spacing: 0.15em;
}
.delete-btn:hover {
    background-color: rgba(231,8,8, 0.5)
}
.update-btn {
    width: 70px;
    background-color: #3d59a8;
    margin-top: 1em;
    color: white !important;
    text-transform: uppercase;
    font-size: 9px;
    border-radius: 18px;
    font-weight: 800;
    letter-spacing: 0.15em;
}
.update-btn:hover {
    background-color: rgba(61, 89, 168, 0.8)
}
.update-profile-btn:hover {
    background-color: rgba(61, 89, 168, 0.8)
}
.follow-btn:hover {
    background-color: rgba(61, 89, 168, 0.8)
}
.unfollow-btn {
    background-color: white;
    border: 1px solid #3d59a8;
    width: 120px;
    color: black!important;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 700;
    letter-spacing: 0.15em;
}
.unfollow-btn:hover {
    border: 1px solid rgba(61, 89, 168, 0.3);
    background-color: rgba(61, 89, 168, 0.3);
    color: white !important;
}
.profile-pic > img {
    border-radius: 50%;
    margin-left: 1em;
    height: 175px;
    width: 175px;
    border: 4px solid #3d59a8;
}
.profile-pic-list > img {
    border-radius: 50%;
    margin-left: 1em;
    height: 85px;
    width: 85px;
    border: 2px solid #3d59a8;
}
.profile-pic-resource  > img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #3d59a8;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 70px;
    padding-right: 15px;
    padding-top: 1em;
    margin-top: 50px;
}
.follow-header {
    margin-top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    color: #616771;
}
dt, dd{
    display: inline;
}
dd{
    margin-right: 4em;
    margin-left: 1em;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
    margin: auto;
}
/*NavBar Styling*/
#nav {
    height: 80px;
    background-color: #3d59a8;
    margin-bottom: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand > img {
    float: left;
    margin-top: .5em;
    margin-left: 2.0em;
}
#nav h1 {
    color: #3d59a8;
    font-family: 'Gotu', sans-serif;
    text-emphasis: none;
    letter-spacing: 0.15em;
    margin-top: 0.25em;
    margin-left: 0.5em;
    float: right;
    display: inline-block;
}
.navbar-nav{
    font-size: 20px;
    width: 500px;
    margin-right: 0em;
    margin-top: 0.7em;
}

#nav li a {
    color: #90949C;
    letter-spacing: 0.05em;
    padding-right: 1em;
}

.navbar-fixed-top {
    /*background-image: url('../Assets/foreground lines in crop.png');*/
    background-repeat: no-repeat;
    background-color: white;
}

.nav-logo {
    width: 45px;
    height: 45px;
}
.card-header {
    background-color: white;
    border-bottom: none;
}
.card-footer{
    font-size: 15px;
    background-color: white;
    border-top: none;
}
#search-bar{
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 100%;
    padding-left: 1em;
    margin-bottom: 1em;
}
#teachers{
    transition: display linear 2s;
}
ul {
    list-style: none;
}
iframe{
    width: 100%;
    height: 35em;
}
.resource-card {
    border: 0.5px solid #3d59a8 !important;
    border-radius: 20px;
    width: 100%;
}
.card-header{
    border: transparent;
    background-color: transparent;
}
.card-footer {
    border: transparent;
    background-color: transparent;
}
.not-available{
    border: 2px solid gray;
    height: 35em;
    padding: 10em 3em;
    width: 100%;
    border-radius: 15px;
}