@model bool
@{ 
    var follow = "follow";
    var unfollow = "unfollow";
}
<span>
    <a class="btn follow-icon @(@Model ? "unfollow-btn" : "follow-btn")"
       data-toggle="follow"
       data-id="@ViewBag.Id">@(@Model ? unfollow : follow)</a>
</span>
