@model BandTogether.Models.ResourceModels.ResourceDelete

<button type="button" class="btn delete-btn" data-toggle="modal" data-target="#delete-technique">Remove</button>
<div class="modal fade" id="delete-technique" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Are you sure?</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Resource", new { id = Model.ResourceId }, FormMethod.Post, null))
                {
                    <div class="ml-4">
                        <h5 class="font-weight-bold school-name" style="cursor: pointer;">@Html.DisplayFor(modelItem => Model.Title)</h5>
                        <p class="">Added: @Html.DisplayFor(model => model.DateCreated)</p>
                        <p class="font-weight-bold mb-0">
                            Description:
                        </p>
                        <p>@Html.DisplayFor(model => model.Description)</p>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Remove" class="btn delete-btn float-right" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function onChangeSuccess(data) {

            if (data.status === "success") {
                $("#modalcontent").modal('hide');
                $("#message-area").html(data.view);
            }
            $.each(data.formErrors, function () {
                $("[data-valmsg-for=" + this.key + "]").html(this.errors.join());
            });
        }
    </script>
}
